@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Racing+Sans+One&display=swap');

:root[data-theme="light"] {
    --top-grad: red;
    --bot-grad: blue;
}

:root[data-theme="synthwave"] {
    --top-grad: blue;
    --bot-grad: red;
}
  
#bold {
    font-weight: bold;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#header {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background: linear-gradient(var(--top-grad), var(--bot-grad));
    color:white;
    font-family: "Racing Sans One", sans-serif;
    font-size: 1.5rem;
}

nav {
    position: sticky;
    top: 0;
    background: var(--bot-grad)
}

#navbar {
    position: sticky;
    top: 0;
}

.navbar-center {
    gap: 1rem;
}

#main {
    padding: 2rem;
    font-family: "Montserrat", sans-serif;
    flex: 1;
}

#main h3 {
    font-size: 2rem;
}

#paneParent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#pane {
    max-width: 30rem;
    background-color: hsl(var(--er)); /* error */
    color: hsl(var(--su)); /* success */
    padding: 1rem;
}

#pane h3 {
    font-family: "Quicksand";
}


#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#contact p, #contact h2 {
    font-family: "Quicksand";
}

#contactButton {
    margin-top: 1.2rem;
}

footer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: #6B7280;
    color: white;
    font-family: montserrat;
}